In [57]:
import pandas as pd
import numpy as np

import wbgapi as wb

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Importing the World Bank data using API
   
country = 'JPN' #Japan

#Defining the time range. Ignoring years 2024 and 2025 as consumption data is not available.
years = range(1974,2023)

# GDP Data
gdp_data = wb.data.DataFrame('NY.GDP.PCAP.CD',country,time = years)

# Total Consumption Data
total_consumption = wb.data.DataFrame('NE.CON.PRVT.CD',country, time = years)

# Population Data
population = wb.data.DataFrame('SP.POP.TOTL',country, time = years)

In [63]:
# Calculating per capita consumption
consumption_per_capita = total_consumption/population

In [64]:
gdp_data.head()

              YR1974       YR1975  ...       YR2021        YR2022
economy                            ...
JPN      4448.319656  4775.899536  ...  40094.55998  34065.643896

[1 rows x 49 columns]

In [65]:
# Creating a dataframe
df = pd.DataFrame (
    {'GDP_per_capita':gdp_data.iloc[0],
    'Consumption_per_capita':consumption_per_capita.iloc[0]
    }
)

In [66]:
df.head(60)

        GDP_per_capita  Consumption_per_capita
YR1974     4448.319656             2110.683134
YR1975     4775.899536             2384.062416
YR1976     5310.431409             2667.407194
YR1977     6472.787787             3262.015600
YR1978     9012.136035             4542.051021
YR1979     9301.148310             4771.149368
YR1980     9668.746264             4971.101920
YR1981    10583.127891             5399.179184
YR1982     9779.974906             5097.492501
YR1983    10652.014716             5593.413973
YR1984    11207.452352             5824.885575
YR1985    11809.460345             6099.618448
YR1986    17451.834939             8955.974223
YR1987    21141.718395            10859.688534
YR1988    25499.881173            12892.400957
YR1989    25265.948759            12752.971618
YR1990    25801.395039            13020.574882
YR1991    29428.428904            14701.000913
YR1992    31992.790212            16220.869532
YR1993    36345.244126            18819.130771
YR1994    39933.515056            21056.875308
YR1995    44197.619101            23311.513889
YR1996    39150.039631            20534.004156
YR1997    35638.231956            18747.068515
YR1998    32423.755613            17184.371576
YR1999    36610.168316            19805.136294
YR2000    39169.359570            21021.713941
YR2001    34406.182464            18724.552976
YR2002    32820.793643            18071.937974
YR2003    35387.037420            19426.466349
YR2004    38298.980171            20961.132220
YR2005    37812.895020            20722.201489
YR2006    35991.546003            19805.793946
YR2007    35779.024542            19619.532921
YR2008    39876.303969            22236.541774
YR2009    41308.996837            23799.814700
YR2010    44968.156235            25572.745349
YR2011    48760.078949            27900.550445
YR2012    49145.280431            28346.565001
YR2013    40898.647896            23777.844462
YR2014    38475.395246            22173.979933
YR2015    34960.639384            19497.827102
YR2016    39375.473162            21538.974331
YR2017    38834.052934            21208.711131
YR2018    39751.133098            21773.551948
YR2019    40415.956765            22048.755921
YR2020    40028.734173            21643.255277
YR2021    40094.559980            21445.983235
YR2022    34065.643896            18905.318328

In [67]:
df = df.reset_index()
df.head()

    index  GDP_per_capita  Consumption_per_capita
0  YR1974     4448.319656             2110.683134
1  YR1975     4775.899536             2384.062416
2  YR1976     5310.431409             2667.407194
3  YR1977     6472.787787             3262.015600
4  YR1978     9012.136035             4542.051021

In [68]:
df.columns = ['Year','GDP_per_capita','Consumption_per_capita']
df['Year'] = df['Year'].astype(str).str.replace("YR","")
df = df.set_index('Year')

In [69]:
df.head(60)

      GDP_per_capita  Consumption_per_capita
Year
1974     4448.319656             2110.683134
1975     4775.899536             2384.062416
1976     5310.431409             2667.407194
1977     6472.787787             3262.015600
1978     9012.136035             4542.051021
1979     9301.148310             4771.149368
1980     9668.746264             4971.101920
1981    10583.127891             5399.179184
1982     9779.974906             5097.492501
1983    10652.014716             5593.413973
1984    11207.452352             5824.885575
1985    11809.460345             6099.618448
1986    17451.834939             8955.974223
1987    21141.718395            10859.688534
1988    25499.881173            12892.400957
1989    25265.948759            12752.971618
1990    25801.395039            13020.574882
1991    29428.428904            14701.000913
1992    31992.790212            16220.869532
1993    36345.244126            18819.130771
1994    39933.515056            21056.875308
1995    44197.619101            23311.513889
1996    39150.039631            20534.004156
1997    35638.231956            18747.068515
1998    32423.755613            17184.371576
1999    36610.168316            19805.136294
2000    39169.359570            21021.713941
2001    34406.182464            18724.552976
2002    32820.793643            18071.937974
2003    35387.037420            19426.466349
2004    38298.980171            20961.132220
2005    37812.895020            20722.201489
2006    35991.546003            19805.793946
2007    35779.024542            19619.532921
2008    39876.303969            22236.541774
2009    41308.996837            23799.814700
2010    44968.156235            25572.745349
2011    48760.078949            27900.550445
2012    49145.280431            28346.565001
2013    40898.647896            23777.844462
2014    38475.395246            22173.979933
2015    34960.639384            19497.827102
2016    39375.473162            21538.974331
2017    38834.052934            21208.711131
2018    39751.133098            21773.551948
2019    40415.956765            22048.755921
2020    40028.734173            21643.255277
2021    40094.559980            21445.983235
2022    34065.643896            18905.318328

In [70]:
df.describe()

       GDP_per_capita  Consumption_per_capita
count       49.000000               49.000000
mean     29480.141678            15955.273311
std      13449.792718             7628.436267
min       4448.319656             2110.683134
25%      17451.834939             8955.974223
50%      35387.037420            18905.318328
75%      39375.473162            21445.983235
max      49145.280431            28346.565001

In [71]:
# Check for missing values
df.isnull().sum()

GDP_per_capita            0
Consumption_per_capita    0
dtype: int64

In [73]:
# Save the data to a csv file
df.to_csv('japan_data.csv')